.page-title {
    text-align: center;
    margin: 0;
    padding: 70px;
    background-image: src="https://www.google.com/url?sa=i&url=https%3A%2F%2Funsplash.com%2Fs%2Fphotos%2Fpink-marble&psig=AOvVaw02cL4_OT0lAN09qzIK5zjo&ust=1674142921687000&source=images&cd=vfe&ved=0CA4QjRxqFwoTCNDCrsK60fwCFQAAAAAdAAAAABAE" ;

}

.navstyle {
    text-align: left;
    padding: 10px;
    margin: 0% 5% 5% 3%;
    display:inline-block;
    float: left;
}

.intro {
    text-align: left;
    padding: 10px;
    margin: 0px auto 5% auto;
    display:inline-block;
    font-size: 20px;
}


.textbody {
    text-align: left;
    padding: 10px;
    margin-left: 5%;
    

}



header {
    background-color:98f5e1;
    margin: auto;
    Padding: 10px;
    text-align: center;
    text-decoration:underline ;
    }

